@page "/estudantes/cadastrar_estudante"

@using SigaApp.ViewModels
@using System.ComponentModel.DataAnnotations
@using SigaApp.Models.Estudante
@using SigaApp.Models.Endereco
@inject EstudanteDAO estudanteDAO
@inject NavigationManager Navigation
@inject LocalidadeService localidadeService

@rendermode InteractiveServer

<PageTitle>Cadastrar Estudante</PageTitle>

<h2 class="fw-bold mb-4">Cadastro de Estudante</h2>

<EditForm Model="_novoEstudante" OnValidSubmit="Salvar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="row g-3">

        <div class="col-md-12">
            <div class="row g-2">

                <!-- Nome -->
                <div class="col-md-8">
                    <label class="form-label">Nome do Estudante</label>
                    <InputText @bind-Value="_novoEstudante.Nome" class="form-control" />
                    <ValidationMessage For="@(() => _novoEstudante.Nome)" />
                </div>

                <!-- Data de nascimento -->
                
                <div class="col-md-4">
                    <label class="form-label">Data de Nascimento</label>
                    <InputDate @bind-Value="_novoEstudante.DataNasc"
                               class="form-control"
                               @oninput="AtualizarIdade" />
                    <ValidationMessage For="@(() => _novoEstudante.DataNasc)" />
                </div>

                <!-- Idade -->
                <div class="col-md-2">
                    <label class="form-label">Idade</label>
                    <InputNumber @bind-Value="_novoEstudante.Idade" class="form-control" Disabled="true" />
                    <ValidationMessage For="@(() => _novoEstudante.Idade)" />
                </div>

                <!-- Sexo -->
                <div class="col-md-4">
                    <label class="form-label">Sexo</label>
                    <InputSelect @bind-Value="_novoEstudante.Sexo" class="form-select">
                        <option value="">Selecione...</option>
                        <option>Masculino</option>
                        <option>Feminino</option>
                    </InputSelect>
                    <ValidationMessage For="@(() => _novoEstudante.Sexo)" />
                </div>

                <!-- UF -->
                <div class="col-md-3">
                    <label class="form-label">UF</label>
                    <select class="form-select" @onchange="OnUFChange">
                        <option value="">Selecione o estado...</option>

                        @foreach (var e in Estados)
                        {
                            <option value="@e.sigla">@e.nome (@e.sigla)</option>
                        }
                    </select>
                    <ValidationMessage For="@(() => _novoEstudante.Endereco.Uf)" />
                </div>

                <!-- Cidade -->
                <div class="col-md-5">
                    <label class="form-label">Cidade</label>
                    <InputSelect @bind-Value="_novoEstudante.Endereco.Cidade" class="form-control" disabled="@BloquearCidades">
                        <option value="">Selecione a cidade</option>
                        @foreach (var cidade in Cidades)
                        {
                            <option value="@cidade.nome">@cidade.nome</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => _novoEstudante.Endereco.Cidade)" />
                </div>


                <!-- Rua (FALTAVA) -->
                <div class="col-md-6">
                    <label class="form-label">Rua</label>
                    <InputText @bind-Value="_novoEstudante.Endereco.Rua" class="form-control" />
                    <ValidationMessage For="@(() => _novoEstudante.Endereco.Rua)" />
                </div>

                <!-- Número (FALTAVA) -->
                <div class="col-md-2">
                    <label class="form-label">Número</label>
                    <InputText @bind-Value="_novoEstudante.Endereco.Numero" class="form-control" />
                    <ValidationMessage For="@(() => _novoEstudante.Endereco.Numero)" />
                </div>

                <!-- Bairro -->
                <div class="col-md-6">
                    <label class="form-label">Bairro</label>
                    <InputText @bind-Value="_novoEstudante.Endereco.Bairro" class="form-control" />
                    <ValidationMessage For="@(() => _novoEstudante.Endereco.Bairro)" />
                </div>

                <!-- Telefone -->
                <div class="col-md-4">
                    <label class="form-label">Telefone</label>
                    <InputText @bind-Value="_novoEstudante.Telefone" class="form-control" />
                    <ValidationMessage For="@(() => _novoEstudante.Telefone)" />
                </div>

                <!-- Pai / Responsável -->
                <div class="col-md-6">
                    <label class="form-label">Nome do Responsável</label>
                    <InputText @bind-Value="_novoEstudante.NomeResp1" class="form-control" />
                    <ValidationMessage For="@(() => _novoEstudante.NomeResp1)" />
                </div>

                <!-- Mãe / Responsável -->
                <div class="col-md-6">
                    <label class="form-label">Adicionar outro Responsavel</label>
                    <InputText @bind-Value="_novoEstudante.NomeResp2" class="form-control" />
                    <ValidationMessage For="@(() => _novoEstudante.NomeResp2)" />
                </div>

                <!-- Situação -->
                <div class="col-md-4">
                    <label class="form-label">Situação</label>
                    <InputSelect @bind-Value="_novoEstudante.Situacao" class="form-select">
                        <option value="Cursando">Cursando</option>
                        <option value="Transferido">Transferido</option>
                    </InputSelect>
                    <ValidationMessage For="@(() => _novoEstudante.Situacao)" />
                </div>
            </div>
        </div>

    </div>

    <div class="mt-4 d-flex justify-content-end gap-2">
        <a class="btn btn-outline-secondary" href="/estudantes">Cancelar</a>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
</EditForm>


@if (!string.IsNullOrEmpty(erro))
{
    <div class="alert alert-danger mt-3">@erro</div>
}

@code {

    private string? erro;
    private EstudanteViewModel _novoEstudante = new ();
    private List<Estado> Estados = new();
    private List<Cidade> Cidades = new();
    private bool BloquearCidades = true;

    protected override async Task OnInitializedAsync()
    {
        _novoEstudante = new EstudanteViewModel
        {
            Endereco = new EnderecoViewModel(),
            Turma = new TurmaViewModel()
        };

        Estados = await localidadeService.GetEstadosAsync();
    }

    private async Task OnUFChange(ChangeEventArgs e)
    {
        var uf = e.Value?.ToString() ?? "";
        _novoEstudante.Endereco.Uf = uf;

        Cidades.Clear();
        BloquearCidades = true;

        Cidades = await localidadeService.GetCidadesByUFAsync(uf);
        BloquearCidades = false;
    }


    private void Salvar()
    {
        try
        {
            var est = new Estudante
            {
                Nome = _novoEstudante.Nome,
                DataNasc = _novoEstudante.DataNasc,
                Idade = _novoEstudante.Idade,
                Sexo = _novoEstudante.Sexo,      
                Telefone = _novoEstudante.Telefone,
                NomeResp1 = _novoEstudante.NomeResp1,
                NomeResp2 = _novoEstudante.NomeResp2,
                Situacao = _novoEstudante.Situacao.ToLower(),
            };

            var end = new Endereco
                {
                    Cidade = _novoEstudante.Endereco.Cidade,
                    Bairro = _novoEstudante.Endereco.Bairro,
                    Numero = _novoEstudante.Endereco.Numero,
                    Uf = _novoEstudante.Endereco.Uf,
                    Rua = _novoEstudante.Endereco.Rua,
                };

            est.Endereco = end;

            estudanteDAO.Inserir(est);
            Navigation.NavigateTo("/estudantes");
        }
        catch (Exception ex)
        {
            erro = $"Erro ao salvar: {ex.Message}";
        }
    }
    private void AtualizarIdade(ChangeEventArgs e)
    {
        if (DateTime.TryParse(e.Value?.ToString(), out var dataNasc))
        {
            var hoje = DateTime.Today;
            var idade = hoje.Year - dataNasc.Year;

            if (dataNasc.Date > hoje.AddYears(-idade)) idade--;

            _novoEstudante.Idade = idade;
        }
    }
}